player-connection-mode=Listen
player-connection-guid=1003618976
player-connection-debug=0
player-connection-project-name=Cashflow1
player-connection-ip=192.168.1.129
player-connection-ip=192.168.1.128
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
